{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Crear Programa</h2>
    
    <form action="{{ url_for('curso.crear_curso') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="codigo" name="codigo" required>
        </div>
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>

        <div class="mb-3">
            <label for="diploma" class="form-label">Diploma (PDF)</label>
            <input type="file" class="form-control" id="diploma" name="diploma" accept=".pdf">
        </div>

        <button type="submit" class="btn btn-success">Crear Programa</button>
    </form>
</div>
{% endblock %}
