{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Lista de Programas</h2>

    <!-- Botón para agregar un nuevo curso -->
    <a href="{{ url_for('curso.crear_curso') }}" class="btn btn-success mb-3">Agregar Programa</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Diploma</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso[0] }}</td>
                <td>{{ curso[1] }}</td>
                <td>
                    {% if curso[2] %}
                        <a href="{{ url_for('curso.ver_pdf', filename=curso[2].split('/')[-1]) }}" 
                           class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                            Ver PDF
                        </a>
                    {% else %}
                        No disponible
                    {% endif %}
                </td>              
                <td>
                    <a href="{{ url_for('curso.editar_curso', codigo=curso[0]) }}" class="btn btn-warning">Editar</a>
                    <form action="{{ url_for('curso.eliminar_curso', codigo=curso[0]) }}" method="POST" style="display:inline;">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}