{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Usuario</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Nuevo Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ usuario[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-control" id="rol" name="rol">
                <option value="admin" {% if usuario[2] == 'admin' %}selected{% endif %}>Admin</option>
                <option value="usuario" {% if usuario[2] == 'usuario' %}selected{% endif %}>Usuario</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Actualizar</button>
        <a href="{{ url_for('usuario.listar_usuarios') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
